.BoardImage {
  height: 320px;
  width: 260px;
  object-fit: cover;
}
.BoardName {
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  color: #000015;
  margin-top: 1rem;
  padding-left: 1rem;
}
.BoardRole {
  color: #000015cc;
  font-size: 14px;
  line-height: 19px;
  padding-left: 1rem;
}
.BoardWrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.BoardCard:hover {
  transform: scale(1.03);
  transition: all 0.5s linear;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.BoardAchieve {
  list-style: circle;
  padding: 0.2rem 1rem;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  .BoardWrapper {
    flex-direction: column;
    align-items: center;
  }
}
