.S_Container {
  height: auto;
  background-color: #f5f5f5;
}

.S_Wrapper {
  padding: 4em 0rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 120px;
}

.S_Top {
  color: #000015;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}
.S_Top h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.5;
  align-self: center;
  margin-bottom: 0;
  justify-self: center;
}
.S_Wrapper_Text {
  text-align: center;
  color: #000015;
  font-weight: 300;
  margin: auto;
  width: 60%;
  margin-bottom: 1rem;
  font-size: 16px;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .S_Wrapper {
    margin: 0;
    padding: 2rem 1rem;
  }
  .S_Top h2 {
    font-size: 2rem;
    line-height: 32px;
  }
  .S_Wrapper_Text {
    width: 80%;
    font-size: 1rem;
    line-height: 22px;
  }
}
@media screen and (max-width: 768px) {
  .S_Wrapper {
    margin: 0;
    padding: 2rem 1rem;
  }
  .S_Top h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .S_Wrapper_Text {
    width: 100%;
    font-size: 1rem;
    line-height: 22px;
  }

  .S_Container {
    height: fit-content;
  }
}
