.S_Container {
  background-color: #dd3333;
  padding: 25px 0;
}
.S_Wrapper {
  width: 95%;
  margin: auto;
  background-color: white;
  padding-bottom: 80px;
}

.S_Top {
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/Digital-Technology.jpg");
}
.S_Top h2 {
  font-size: 38px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.5;
  align-self: center;
  justify-self: center;
}
.S_Wrapper h4 {
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
  color: #000098;
  font-style: italic;
  font-weight: 500;
  font-size: 26px;
}

@media screen and (max-width: 480px) {
  .S_Wrapper {
    width: 100%;
  }

  .S_Container {
    padding: 15px;
  }
}
