.C_Container {
  display: flex;
  width: 100%;
  background-image: url("../../assets/bralewood assets/contactPageBg.png");
  padding: 25px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.C_Wrapper {
  width: 60%;
  padding: 4rem 0rem;
  margin: auto;
  background-color: transparent;
  padding: 40px;
}
.Contact_Wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 5px;
}
.C_title {
  font-size: 2.5rem;
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.C_Form {
  padding: 0.3rem 0rem;
  flex: 1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.C_Text {
  color: white;
  text-align: center;
  font-weight: 300;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.C_Info {
  flex: 1;
  display: flex;
  background-color: transparent;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.C_btn {
  text-transform: capitalize;
  background: #ff7c25d2;
  color: white;
  padding: 0.5rem 0.75rem;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  width: 30%;
  margin: auto;
  margin-top: 1.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.C_btn:hover {
  background-color: #fd802f;
}
.form_control {
  display: block;
  flex: 1;
  padding: 1rem 1rem;
  border: none;
  margin-bottom: 0.6rem;
  background: white;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}
.form_control:focus-within {
  outline: transparent;
}
.C_item_title {
  color: #fd802f;
  display: flex;
  gap: 5px;
  margin-bottom: 0.3rem;
  font-size: 24px;
}
.C_item_title span {
  color: black;
  font-size: 20px;
}
.C_item-text {
  font-size: 14px;
  font-weight: 300;
}
.C_Flex {
  display: flex;
  gap: 10px;
}
.C_item {
  margin-right: 10px;
  flex: 1;
  padding: 0.4rem 1rem;
  background-color: white;
}
.C_item:nth-last-child(n) {
  margin-right: 0;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .C_Wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .Contact_Wrapper {
    flex-direction: column-reverse;
  }
  .C_title {
    font-size: 24px;
    line-height: 28px;
  }
  .C_Text {
    width: 100%;
    font-size: 1rem;
    line-height: 22px;
  }
  .C_Info {
    text-align: left;
    justify-content: center;
    align-content: center;
    padding: 0 0.5rem;
    background-color: transparent;
    flex-direction: column;
  }
  .C_item_title {
    margin-top: 0;
  }
  .C_item {
    padding: 1rem;
    margin: 0 !important;
  }
  .C_item-text {
    align-self: center;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    line-height: 22px;
  }
  .C_Wrapper {
    padding: 2rem 1rem;
    width: 100%;
  }
  .C_btn {
    width: fit-content;
    padding: 1rem 1.5rem;
  }
  .C_Container {
    padding: 0;
    display: flex;
    width: 100%;
    background-image: url("../../assets/bralewood assets/Mobile Contact Us Image.png");
    background-repeat: round;
    background-size: contain;
  }
  .C_Form {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: white;
  }
  .C_Flex {
    flex-direction: column;
    gap: 0;
  }
  .form_control {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .C_btn {
    background-color: #f96507;
    width: 100%;
    margin-top: 0;
  }
}
