.home__Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background-image: linear-gradient(0deg, #333333 0%, #dd1818 100%);
}

.home_Wrapper {
    width: 95%;
  margin: auto;
  background-image: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
  padding-bottom: 80px;

  > h4 {
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: center;
    color: #000098;
    font-style: italic;
    font-weight: 500;
    font-size: 26px;
  } 
}


.home_banner {
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/money-2724235_1920.jpg");

  > h2 {
    font-size: 38px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.5;
    align-self: center;
    justify-self: center;
    color: rgba($color: #000000, $alpha: .6);
    text-shadow: 0 0.1rem 1rem #fff;
  }

}



.learnBtn {
  border-radius: 5px;
  font-size: 20px;
  background-color: #fd802f;
  border: none;
  color: white;
  padding: 10px;
}

.home__CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.home__Card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  box-shadow: 0px 2px 18px 0px rgba(253, 128, 47, 0.66);
  padding: 5%;
  font-size: 16px;
  color: #666666;
  border-radius: 10px 10px 10px 10px;
  border-color: rgba(0, 0, 152, 0);
  margin: 5%;

  > img {
    margin-bottom: 20px;
  }
  
  > h6 {
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    color: #000098;
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
  
}


@media screen and (max-width: 480px) {
  .home_Wrapper {
    width: 100%;
  }
  .home__Container {
    padding: 15px;
  }
}