.Card_Wrapper {
  display: flex;
  padding: 4rem 0rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  align-items: baseline;
}
.Card {
  width: 20%;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
  color: #000015cc;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  border-color: rgba(0, 0, 152, 0);
}
.Card:hover {
  transform: scale(1.05);
  transition: all 0.5s linear;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Card img {
  margin-bottom: 20px;
}
.Card h6 {
  font-weight: 500;
  text-transform: capitalize;
  color: #000015;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.Card p {
  font-size: 14px;
  line-height: 20px;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .Card_Wrapper {
    padding: 2rem 0;
  }
  .Card {
    width: 19%;
  }
  .Card p {
    text-align: center;
  }
  .Card h6 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .Card {
    width: 100%;
    flex: auto;
    margin-bottom: 20px;
  }
  .Card p {
    text-align: center;
  }
  .Card_Wrapper {
    flex-wrap: wrap;
  }
}
