.nav__component {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  opacity: 0.9;
  background-color: #fff;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
  line-height: 23px;
}

.nav__header {
  display: flex;
  align-items: center;
  width: 20%;
  margin-left: 3%;
}

.logo {
  width: 30%;
}

.links__content {
  margin-right: 2%;
}

.links {
  text-decoration: none;
  width: 80%;
  padding: 10px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.selected {
  color: #2ea3f2;
}

a:hover {
  color: rgb(173, 216, 230);
}
