.I_Container {
  height: auto;
  background-color: white;
}
.I_Wrapper {
  padding: 4rem 0rem;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0px 120px;
}
.I_Left,
.I_Right {
  flex: 1;
}
.I_Left {
  align-self: center;
}
.I_Item svg {
  font-size: 30px;
  color: #f96507;
}
.I_Title {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 0;
}
.I_Orange {
  color: #f96507;
}
.I_Item {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center;
}
.I_Big svg {
  font-size: 45px !important;
}
.I_Item img {
  width: 40px;
  height: 40px;
  align-self: center;
  object-fit: cover;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .I_Wrapper {
    padding: 2rem 1rem;
    margin: 0;
    flex-direction: row;
  }
  .I_Left img {
    width: 100%;
  }
  .I_Left {
    align-self: flex-end;
  }
  .I_Title {
    font-size: 2rem;
    line-height: 32px;
  }
  .I_Item span {
    font-size: 1rem;
    line-height: 22px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .I_Wrapper {
    padding: 2rem 1rem;
    margin: 0;
    flex-direction: column-reverse;
  }
  .I_Title {
    font-size: 24px;
    line-height: 28px;
  }
  .I_Item {
    margin-bottom: 1rem;
  }
  .I_Item svg {
    font-size: 40px;
    width: 45px;
    height: 45px;
    color: #f96507;
  }
  .I_Item span {
    font-size: 1rem;
    line-height: 22px;
    margin: 0;
  }
  .I_Left img {
    width: 100%;
  }
  .I_Container {
    height: auto;
  }
}
