html {
  scroll-behavior: smooth;
}
* {
  margin: 0%;
  padding: 0;
}
.About_Hero {
  background-image: url("../../assets/bralewood assets/pexels-christina-morillo-1181408 1moreabout.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  display: flex;
}
.About_Hero h4 {
  color: white;
  width: 50%;
  justify-content: center;
  align-self: center;
  padding-left: 4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
}

//INTRO
.A_Intro {
  padding: 4rem 0;
  margin: 0 120px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.A_Text_Wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.A_Image_Wrap {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.A_Text_Header {
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
}
.A_Text_Title {
  color: #000015;
  line-height: 23.48px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.A_Orange {
  color: #f96507;
}
.A_Blue {
  color: #000098;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .A_Intro {
    flex-direction: row;
    padding: 2rem 1rem;
    margin: 0;
  }
  .A_Image_Wrap img {
    width: 100%;
  }
  .A_Text_Wrap p {
    line-height: 22px;
    font-size: 1rem;
  }
  .A_Text_Header {
    line-height: 32px;
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .A_Intro {
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0;
  }

  .A_Text_Wrap {
    margin-bottom: 3rem;
  }
  .A_Image_Wrap {
    justify-content: center;
  }
  .A_Image_Wrap img {
    width: 100%;
  }
  .A_Text_Title {
    font-size: 14px;
  }
  .A_Text_Header {
    line-height: 1.5;
    font-size: 24px;
  }
  .A_Text_Wrap p {
    line-height: 22px;
    font-size: 1rem;
  }
  .About_Hero h4 {
    width: 80%;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}

//INTERLUDE
.I_Wrapper {
  padding: 4rem 0rem;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0px 120px;
}
.I_Left,
.I_Right {
  flex: 1;
}
.A_I_Left {
  align-self: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.A_I_Left img {
  width: 80%;
}
.I_ItemIcon {
  background-color: transparent;
  padding: 0;
}
.I_ItemIcon svg {
  font-size: 30px;
  color: #f96507;
}
.I_Title {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 0;
}
.I_Orange {
  color: #f96507;
}
.I_Right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.I_Item {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center;
}
.I_Item img {
  width: 40px;
  height: 40px;
  align-self: center;
  object-fit: cover;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .I_Wrapper {
    padding: 2rem 1rem;
    margin: 0;
    flex-direction: row;
  }
  .I_Left img {
    width: 100%;
  }
  .I_Left {
    align-self: flex-end;
  }
  .I_Title {
    font-size: 2rem;
    line-height: 32px;
  }
  .I_Item span {
    font-size: 1rem;
    line-height: 22px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .I_Wrapper {
    padding: 2rem 1rem;
    margin: 0;
    flex-direction: column-reverse;
  }
  .I_Title {
    font-size: 24px;
    line-height: 28px;
  }
  .I_Item {
    margin-bottom: 1rem;
  }
  .A_I_Left img {
    width: 100%;
  }
  .I_ItemIcon svg {
    font-size: 30px;
    color: #f96507;
  }
  .I_Item span {
    font-size: 1rem;
    line-height: 22px;
    margin: 0;
  }
  .I_Left img {
    width: 100%;
  }
}

//BOARD

.A_Board {
  padding: 2rem 0;
  margin: 0 120px;
}
.Board_Title {
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  margin: 3rem;
}
@media screen and (max-width: 768px) {
  .A_Board {
    margin: 0;
  }
  .Board_Title {
    margin: 1rem;
    font-size: 24px;
    line-height: 28px;
  }
}

//CONTACT

.A_Contact {
  padding: 4rem 0;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
}
.A_Contact_Text {
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 2rem;
}
.A_Btn {
  border: 2px solid #f96507;
  background-color: transparent;
  padding: 0.5rem 2rem;
  color: #f96507;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  text-decoration: none;
}
.A_Btn:hover {
  color: white;
  transition: all 0.3s linear;
  background-color: #f96507;
}
.LicenseWrapper {
  align-self: flex-end;
  display: flex;
  gap: 5px;
}
.LicenseWrapper span {
  color: #000098;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .A_Contact {
    padding: 2rem 1rem;
    margin: 0;
  }
  .A_Contact_Text {
    font-size: 24px;
    line-height: 28px;
  }
}
